html {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body {
    font-family: Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
}

#controls {
    display: block;
    margin: auto;
    width:800px;
    height:200px;
}

.vid {
    display: block;
    margin: auto;
    width:800px;
}

video {
    /* make responsive*/
    max-width: 100%;
    float:left;
}

#sliders {
    height:400px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.userInterface {
    position:absolute;
    width:800px;
    min-height:450px;
    z-index:300000;
    text-align: center;     
    color:white;
    font-size: 48px;
}

#singleSlider {
    display: flex;
    flex-direction: column;
    width:150px;
    align-content: space-between;
    margin:-20px; 
}

label {
    font-size:15px;
    margin-bottom: 50px;
    opacity: 0.0;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

/* Range Sliders */
input[type="range"] {
    display: flex;
    margin:0px;
    width: 150px;
    height: 2px;
    opacity: 0.0;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
    appearance: none;
    -webkit-appearance: none;
    transform: rotate(-90deg);         
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: white;
}

.slidey {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity:0.0; 
    transform: translate(0%, -250%) scale(1, 2.5);
}

/* Add more CSS reset styles as needed */
p {
    transform: translate(70%, 100%);
    padding: 10px;
    margin:10px;
    top:100px;
    width:300px;
    background-color: black;
}

