html {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: white;
}

body {
    font-family: Arial Impact, 'Arial Narrow Bold', sans-serif, sans-serif;
}

.vid {
    display: block;
    margin: auto;
    width:80%;
    min-width: 800px;
    max-width: 1080px;
}

video {
    width:100%;
    max-width: 1080px;
    float:left;
}

.userInterface {
    position:absolute;
    width:80%;
    min-width: 800px;
    max-width: 1080px;
    z-index:300000;
    display: flex;
    justify-content: center;
    text-align: center;     
    font-size: calc(48px ); 
}

#playButton {
    position:absolute;
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 25%;
}
#sliders {
    min-height:500px;
    max-height: 580px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#singleSlider {
    display: flex;
    margin-top: -10%;
    flex-direction: column;
    width:100%;
    
}

label {
    font-size:15px;
    margin-bottom: calc(80px - 1vw);
    opacity: 0.0;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

/* Range Sliders */
input[type="range"] {
    display: flex;
    margin:0px;
    width: 100%;
    min-width:100px;
    height: 2px;
    opacity: 0.0;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
    appearance: none;
    -webkit-appearance: none;
    transform: rotate(-90deg);         
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width:20px;
    height:20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    -webkit-transition: 1.0s;
    transition: opacity 1.0s;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
}

input[type="range"]::-moz-range-thumb:hover {
    background-color: white;
}

.slidey {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    opacity:0.0; 
    transform: translate(0%, -250%) scale(1, 2.5);
}

p {
    padding: 10px;
    margin:10px;
    width:300px;
    background-color: black;
}

